[submodule "subProject_Repo"]
   path = subProject_Repo
   url =../subProject_Repo
   branch = master

[submodule "msbuild_repo"]
	path = msbuild_repo
	url = https://github.com/poonamj03/msbuild_repo.git
[submodule "wxWidget_repo"]
	path = wxWidget_repo
	url = https://github.com/poonamj03/wxWidget_repo.git
